<link href="../css/style.css" rel="stylesheet">

<p class="about">This website allows you to view NASA's Astronomy Picture of the Day by selecting the desired date. Registered users will be able to view, download, and manage their favorite images in HD quality. As an added bonus, users will also be able to view the pic of the day with added effects (works best on mobile and tablet).</p>
<div class="row">
	<div class="col-xs-12">
		<a href="/apod" class="banner"><img src="/img/sun_flr.jpg" class="img-responsive banner center-block"></a>
		<span>
			<a href="/apod" class="bannerText">Click Here to Start</a>
		</span>
	</div>
</div>
<hr>
<p class="about">NASA's Astronomy Picture of the Day (APOD) was first launched on June 16, 1995. Each day a new picture related to space exploration and astronomy is uploaded with a description provided by a professional astronomer. Some of the days have videos and some are interactive. </p>