<link href="../css/style.css" rel="stylesheet">

<h2>About</h2>

<p class="about">NASA's Astronomy Picture of the Day (APOD) was first launched on June 16, 1995. Each day a new picture related to space exploration and astronomy is uploaded with a description provided by a professional astronomer. This website allows you to pick a date and view the picture that was uploaded for that day. Registered users will be able to view the HD image, save and manage their favorite images, and view the nasa images with cool effects.</p>