<link href="../css/style.css" rel="stylesheet">

<h2>About</h2>

<p class="about">NASA's Astronomy Picture of the Day (APOD) was first launched on June 16, 1995. Each day a new picture is uploaded with a description provided by a professional astronomer. The pictures are usually related to space exploration and astronomy, though not all the time. This website allows you to pick a date and view the picture that was uploaded for that day. Registered users will be able to view the HD image and save their favorite images.</p>