<link href="css/one_style.css" rel="stylesheet">


	<p class="date text-center"><strong>Date: </strong><input type="text" id="datepicker" size="30" placeholder="Click here to pick date"></p>
	<div class="NASA">
		<img src="/img/plan_sys.jpg" id='nasaImg' class="img-responsive">
		<p id="imgTitle">Sample Image</p>
		<p id="imgInfo"></p>
	</div>
<script>
  	$( function() {
  		$( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'}).val();
  	});
  	$('#datepicker').on('change', function () {
  		console.log(this.value);
  		$.ajax({
  			url: '/nasaimg/' + this.value, 
  			method: 'GET',
  			success: function(response) {
  				$('#nasaImg').attr('src', response.url),
  				$('#imgTitle').text(response.title),
  				$('#imgInfo').text(response.explanation)

  				
  			},
  			error: function(response) {
  				console.log(response);
  			}
  		})
  	})
 </script>