<link href="css/one_style.css" rel="stylesheet">


	<p class="date text-center"><strong>Date: </strong><input type="text" id="datepicker" size="30" placeholder="Click here to pick date"></p>
  <% if(!user) { %>
  
  <% }else { %>
    <form action='/apod' method='POST'>
      <input type="text" name="hdImg" id='hdImg'>
      <input type="text" name="hdTitle" id='hdTitle'>
      <br>
      <input type="submit" value="Save Image To Gallery" id="saveBtn" class="btn btn-success center-block">
    </form>
    <% }; %>
	<div class="NASA">
		<img src="/img/plan_sys.jpg" id='nasaImg' class="img-responsive">
		<p id="imgTitle">Sample Image</p>
		<p id="imgInfo"></p>
	</div>
<script>
    $('#saveBtn').hide();
  	$( function() {
  		$( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'}).val();
  	});
  	$('#datepicker').on('change', function () {
  		$.ajax({
  			url: '/nasaimg/' + this.value, 
  			method: 'GET',
  			success: function(response) {
          if (response.media_type == 'image') {
  				  $('#saveBtn').show(),
            $('#nasaImg').attr('src', response.url)
            $('#imgTitle').text(response.title),
            $('#imgInfo').text(response.explanation),
            document.getElementById("hdImg").value = response.hdurl;
            document.getElementById("hdTitle").value= response.title;
          }
          else {
            $('#nasaImg').attr('src', '/img/nah.gif'),
            $('#imgTitle').text('Not a valid image'),
            $('#imgInfo').text(''),
            $('#saveBtn').hide()

          }
  				
  			},
  			error: function(response) {
  				console.log(response);
  			}
  		})
  	})
 </script>