<link href="css/one_style.css" rel="stylesheet">

<h2>View Your Saved Images</h2>

<% if(!user) { %>
<div class="gallery col-xs-12">
	<div class="row">
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/dope.gif" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/plan_sys.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/prp_neb.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/neb_rain.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
	</div>
	<div class="row">
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/sup_nova.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/star_gx.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/cloud.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/earth.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
	</div>
	<div class="row">
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/big_bang.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/grn_neb.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/universe.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3'>
			<img src="/img/black_hole.jpg" class="img-responsive galleryImg">	
			<p class="pictureTitle">Sample</p>
		</div>
	</div>
</div>
<% }else { %>
<div class="gallery col-xs-12">
	<div class="row">
		<% if (favorite) { %>
			<% favorite.forEach(function(fav) { %>
				<div class='col-xs-12 col-sm-6 col-md-3'>
					<img src="<%= fav.hdurl %>" class="img-responsive galleryImg"> 
					<p class="pictureTitle"><%= fav.title %></p>
					<a href="/gallery/<%= fav.id %>" class="btn btn-danger center-block delete-link">Delete Image</a>
				</div>	
			<% }); %>
		<% } %>	
	</div>			
</div>
<% }; %>
