<h2>Profile Page</h2>

<div class="form-group">
    <label for="editName">Edit Name:</label>
    <br>
    <input id="editName" class="form" type="text" placeholder="<%= user.name %>">
    <input class="btn btn-primary submitBtn" type="submit">
 </div>