body {
	background-image:url("../img/star_neb.jpg");
	background-size: 125% auto;
	background-repeat: no-repeat;
}

#nasaImg {
	height: 400px;
	margin: 0 auto;
	width: auto;
	border: 2px solid;
	border-color: rgba(#000.2);
}

.NASA {
	text-align: center;
}