body {
	background:url("../img/star_neb.jpg") no-repeat center center fixed;
	background-size: cover;
}
#nasaImg {
	height: 400px;
	margin: 20px auto;
	margin-top: 50px;
	width: auto;
	border: 2px solid;
	border-color: rgba(#000.2);
}
.NASA {
	text-align: center;
}
#imgTitle {
	font-family: 'Audiowide', cursive;
	font-size: 25px;
	color: white;
}
#imgInfo {
	font-size: 10px;
	color: white;
	margin: 10px 50px;
}
.gallery {
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-size: 18px;
	color: orange;
}
.galleryImg {
	height: auto;
	width: auto;
	margin-top: 10px;
}
.date, #datepicker {
	font-family: 'Audiowide', cursive;
}
#hdImg, #hdTitle {
	font-family: 'Audiowide', cursive;
	margin-top: 18px;
	visibility: hidden;
}
.delete-link {
	width: 150px;
}