body {
	background:url("../img/prp_neb.jpg") no-repeat center center fixed;
	background-size: cover;
}
h1 {
	text-align: center;
	font-family: 'Audiowide', cursive;
	color: yellow;
	margin-bottom: 25px;
	font-size: 40px;
	opacity: .5;
}
h2 {
	text-align: center;
	font-family: 'Audiowide', cursive;
	color: white;
	opacity: .5;
}
.banner {
	position: relative;
	vertical-align: bottom;
	vertical-align: baseline;
	padding-bottom: 10px;
	max-height: 300px;
	width: auto;
	opacity: 1;
	
}
.banner:hover {
	opacity: .6;
}
.bannerText {
	color: yellow;
	font-family: 'Audiowide', cursive;
	font-size: 27px;
	position: absolute;
	text-align: center;
	width: 80%;
	bottom: 155px;
	left: 10%;	
}
.bannerText:hover {
	color: red;
}
.date {
	color: orange;
	font-size: 20px;
	margin-left: 40px;
}
#datepicker {
	background-color: rgba(0,0,0,0.2);
}
.nav {
	width: 100px;
}
.btn {
	margin-top: 5px;
	border: 1px solid white;
	border-color: rgba(#FFF.2);
	font-family: 'Audiowide', cursive;
	opacity: .4;
	display: block;
}
.btn:hover {
	opacity: 1;
}
.ui-datepicker {
	background: #333;
	color: #EEE;
	font-size: 18px;
	opacity: .8;
}
.form-group {
	color: white;
	font-family: 'Audiowide', cursive;
	margin-left: 50px;
}
.form {
	width: 350px;
	color: orange;
	background-color: rgba(0,0,0,0.2);
}

.submitBtn {
	margin-top: 12px;
}
.about {
	margin-top: 30px;
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-size: 18px;
	color: white;
}
#userName {
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-size: 20px;
	margin-top: 5px;
	color: white;
	opacity: .5;
	clear: both;
}